<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
    <title>BDAT 1004: Group 1 Final project</title>
  </head>
  <body style="background-color: rgb(0, 0, 0)">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFA500">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">BDAT 1004: Group 6 Final project</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="members">Team Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="datatable">Data Table</a>
              </li>
			<li class="nav-item">
                    <a class="nav-link active" href="googlechart">Google Chart</a>
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Charts & Analysis
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="graph">Population Graph</a></li>
                </ul>
              </li>
              <!-- </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
    </div>
    <p> 
  
                                    
    </p>
    <div class = "container">

        <h3 style="color:#1DB954">Team Members Information</h3>
	  <h4 style="color:rgb(250, 253, 254)">Abhishek Setia (Software Developer)</h4>
        <p style="color:rgb(179, 179, 179)">  I have several years of experience designing, developing, and maintaining high-quality software solutions for various organizations. I have strong programming skills and am proficient in a range of programming languages.</p>
        <h4 style="color:rgb(250, 253, 254)">Jaykumar patel (Data Analyst)</h4>
        <p style="color:rgb(179, 179, 179)"> I have extensive experience collecting, analyzing, and interpreting complex data sets to inform business decisions. I am skilled in using a range of analytical tools and techniques, including SQL, Excel, and Tableau, to extract insights from raw data</p>
        <h4 style="color:rgb(250, 253, 254)">Krishna (Project Manager)</h4>
        <p style="color:rgb(179, 179, 179)"> I have strong leadership skills and am able to effectively manage teams of developers, data analysts, and other stakeholders. I am highly organized and am able to develop and implement project plans that are tailored to the specific needs of each project.</p>
        <h4 style="color:rgb(250, 253, 254)">Viral (Developer)</h4>
        <p style="color:rgb(179, 179, 179)"> I have several years of experience designing and developing user interfaces for websites and applications. I am highly skilled in a range of front-end development tools and technologies, including HTML, CSS, JavaScript, and jQuery.</p>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>